header
    .container
        .row
            .col-xs-12.col-sm-6.col-md-3.col-lg-2#manuLogo
                h1
                    a(href='/') Кино Онлайн
            .col-md-6.col-lg-6.hidden-xs.hidden-sm#manuInfo
                h2 На сайте онлайн: 823 | Смотрят видео: 413 | Скачивают файлы: 315
            .col-sm-6.col-md-3.col-lg-4.hidden-xs#menuSearch