* {
  outline: none;
}

body {
  background: black;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 14px;
}

h3 {
  font-size: 12px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
