#new
    .container
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                h2.title  Новинки кино:
            mixin newFilm
                a(href='#').col-xs-12.col-sm-4.col-md-4.col-lg-4.newFilm
                    .title Глубоководный горизонт
                    .imgBlock
                        img(src='http://kino.yaljournal.ru/image.php?id=a3JleXNlcg==|aHFkZWZhdWx0LmpwZw==|MTAwMDAx|290|158')
                        .hoverBlock
                            .playIco
                    .text Лето 1945 года. До конца Второй мировой оставались считанные недели… Крейсер ВМС США «Индианополис» доставил на американскую военную ...
            +newFilm
            +newFilm
            +newFilm
            hr
            +newFilm
            +newFilm
            +newFilm
            hr
            +newFilm
            +newFilm
            +newFilm