#slider
    .slide(style="background:url(http://kino.yaljournal.ru/kreyser/bg.jpg)")
        .slideBG
            .titleBlock
                h1 Крейсер
                h2 2016, США, боевик, военный
            .textBlock
                .text Произошедшее 15 января 2009 года назовут «Чудом на Гудзоне». В тот день капитан рейса 1549 Чесли Салленбергер совершил аварийную посадку самолета A320 на холодные воды реки Гудзон в Нью-Йорке. При этом никто из находившихся на борту 155 человек не пострадал. Но, несмотря на все почести со стороны общественности и СМИ, было начато расследование, которое угрожало профессиональной репутации и многолетней карьере капитана Салли.
                button
                    | Смотреть
                    i(class="fa fa-play" aria-hidden="true")
    .slide(style="background:url(http://kino.yaljournal.ru/duelyant/bg.jpg)")
        .slideBG
            .titleBlock
                h1 Крейсер
                h2 2016, США, боевик, военный
            .textBlock
                .text Произошедшее 15 января 2009 года назовут «Чудом на Гудзоне». В тот день капитан рейса 1549 Чесли Салленбергер совершил аварийную посадку самолета A320 на холодные воды реки Гудзон в Нью-Йорке. При этом никто из находившихся на борту 155 человек не пострадал. Но, несмотря на все почести со стороны общественности и СМИ, было начато расследование, которое угрожало профессиональной репутации и многолетней карьере капитана Салли.
                button
                    | Смотреть
                    i(class="fa fa-play" aria-hidden="true")
    .slide(style="background:url(http://kino.yaljournal.ru/chudo-na-gudzone/bg.jpg)")
        .slideBG
            .titleBlock
                h1 Крейсер
                h2 2016, США, боевик, военный
            .textBlock
                .text Произошедшее 15 января 2009 года назовут «Чудом на Гудзоне». В тот день капитан рейса 1549 Чесли Салленбергер совершил аварийную посадку самолета A320 на холодные воды реки Гудзон в Нью-Йорке. При этом никто из находившихся на борту 155 человек не пострадал. Но, несмотря на все почести со стороны общественности и СМИ, было начато расследование, которое угрожало профессиональной репутации и многолетней карьере капитана Салли.
                button
                    | Смотреть
                    i(class="fa fa-play" aria-hidden="true")