#tag
    .container
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
                h2.title Записи с тегом "P-51: Истребитель драконов" - Стр.1

            .tagTopArr
                .col-xs-6.col-sm-6.col-md-6.col-lg-6.text-left
                    a(href='#', title="")
                        h2 « Раньше
                .col-xs-6.col-sm-6.col-md-6.col-lg-6.text-right
                    a(href='#', title="")
                        h2 Позже »
            .links
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов фильм онлайн dvdrip") P-51: Истребитель драконов фильм онлайн dvdrip
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Фильм P-51: Истребитель драконов онлайн") Фильм P-51: Истребитель драконов онлайн
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов смотреть онлайн dvdrip") P-51: Истребитель драконов смотреть онлайн dvdrip
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов смотреть онлайн dvdrip") P-51: Истребитель драконов смотреть онлайн dvdrip
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов в хорошом качестве") P-51: Истребитель драконов в хорошом качестве
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Смотреть P-51: Истребитель драконов") Смотреть P-51: Истребитель драконов
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов полный") P-51: Истребитель драконов полный
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов полный фильм") P-51: Истребитель драконов полный фильм
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов онлайн 720") P-51: Истребитель драконов онлайн 720
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Смотреть P-51: Истребитель драконов 2014") Смотреть P-51: Истребитель драконов 2014
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Новинки кино 2014 P-51: Истребитель драконов") Новинки кино 2014 P-51: Истребитель драконов
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Смотреть on line P-51: Истребитель драконов") Смотреть on line P-51: Истребитель драконов
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов hdtv") P-51: Истребитель драконов hdtv
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов полная версия") P-51: Истребитель драконов полная версия
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов онлайн 2014") P-51: Истребитель драконов онлайн 2014
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Яндекс видео P-51: Истребитель драконов") Яндекс видео P-51: Истребитель драконов
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов смотреть полный фильм") P-51: Истребитель драконов смотреть полный фильм
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Фильм P-51: Истребитель драконов 2014") Фильм P-51: Истребитель драконов 2014
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов в хорошем качестве") P-51: Истребитель драконов в хорошем качестве
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Смотреть полностью фильм P-51: Истребитель драконов") Смотреть полностью фильм P-51: Истребитель драконов
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Смотреть фильм P-51: Истребитель драконов") Смотреть фильм P-51: Истребитель драконов
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Кино новинки P-51: Истребитель драконов") Кино новинки P-51: Истребитель драконов
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Полный фильм P-51: Истребитель драконов") Полный фильм P-51: Истребитель драконов
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Кино P-51: Истребитель драконов") Кино P-51: Истребитель драконов
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов онлайн") P-51: Истребитель драконов онлайн
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Фильм онлайн P-51: Истребитель драконов") Фильм онлайн P-51: Истребитель драконов
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Смотреть он лайн P-51: Истребитель драконов") Смотреть он лайн P-51: Истребитель драконов
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Фільм онлайн P-51: Истребитель драконов") Фільм онлайн P-51: Истребитель драконов
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов онлайн отличное качество") P-51: Истребитель драконов онлайн отличное качество
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Художественный фильм P-51: Истребитель драконов") Художественный фильм P-51: Истребитель драконов
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Кино онлайн P-51: Истребитель драконов 2014") Кино онлайн P-51: Истребитель драконов 2014
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Смотерть онлайн P-51: Истребитель драконов") Смотерть онлайн P-51: Истребитель драконов
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов высокое качество") P-51: Истребитель драконов высокое качество
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов полная версия фильма") P-51: Истребитель драконов полная версия фильма
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов в отличном качестве") P-51: Истребитель драконов в отличном качестве
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Смотреть полностью P-51: Истребитель драконов") Смотреть полностью P-51: Истребитель драконов
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов 720p") P-51: Истребитель драконов 720p
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов смотрет онлайн") P-51: Истребитель драконов смотрет онлайн
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов смотреть онлайн 1080") P-51: Истребитель драконов смотреть онлайн 1080
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Онлайн кинотеатр смотреть P-51: Истребитель драконов") Онлайн кинотеатр смотреть P-51: Истребитель драконов
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Смотреть P-51: Истребитель драконов 720") Смотреть P-51: Истребитель драконов 720
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов online") P-51: Истребитель драконов online
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="Фильм P-51: Истребитель драконов hd") Фильм P-51: Истребитель драконов hd
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов 2014 hd") P-51: Истребитель драконов 2014 hd
                .col-xs-4.col-sm-4.col-md-4.col-lg-4
                    a(href='#', title="P-51: Истребитель драконов полный фильм онлайн") P-51: Истребитель драконов полный фильм онлайн


            .tagBottomArr
                .col-xs-6.col-sm-6.col-md-6.col-lg-6.text-left
                    a(href='#', title="")
                        h2 « Раньше
                .col-xs-6.col-sm-6.col-md-6.col-lg-6.text-right
                    a(href='#', title="")
                        h2 Позже »

