section#video(style="background: url(http://kino.yaljournal.ru/image.php?id=ZXpoaWstYm9iYmkta29sdWNoaWUtcHJpa2x1Y2hlbml5YQ==|aHFkZWZhdWx0LmpwZw==|MTAwMDAx|290|158) no-repeat;")
    .darkLayer
        .container
            .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12.videoContainer
                    img(src='http://kino.yaljournal.ru/image.php?id=c25vdWRlbg==|aHFkZWZhdWx0LmpwZw==|MTAwMDAx|290|158')
                .col-xs-12.col-sm-6.col-md-4.col-lg-3
                    .poster
                        img(src='http://kino.yaljournal.ru/image.php?id=ZHpob24tdWlr|cG9zdGVyLmpwZw==|MTAwMDAx|280|400')
                .col-xs-12.col-sm-6.col-md-8.col-lg-9
                    .filmInfoRight
                        h1.title Джон Уик
                        h3.littleTitle Джон Уик
                        .SL
                        h2
                            span.bold Название:
                            | Джон Уик
                        h2
                            span.bold Год выпуска:
                            | 2014
                        h2
                            span.bold Страна:
                            | Китай, Канада, США
                        h2
                            span.bold Жанр:
                            | боевик
                        h2
                            span.bold Режисёр:
                            | Дэвид Лейтч, Чад Стахелски
                        h2
                            span.bold В ролях:
                            | Киану Ривз, Микаэл Нюквист, Элфи Оуэн-Аллен, Уиллем Дефо, Дин Уинтерс, Эдрианн Палики, Омер Барнеа, Тоби Мур, Дэниэл Бернхард, Бриджет Мойнэхэн
                        h2
                            span.bold Продолжительность:
                            | 101 мин.
                        button.showHideVideoBlock
                            | Смотреть
                            i(aria-hidden="true" class="fa fa-play")
                        h3 Джон Уик — бывший наемный убийца — ведет размеренную жизнь, когда преступник крадет его любимый Mustang 1969 года и попутно убивает собаку Дейзи, единственное живое напоминание об умершей жене. Жажда мести пробуждает в нем, казалось, утерянную хватку…