$block-margin-top: 8vw

*
  outline: none
body
  background: black
h1
  font-size: 20px
h2
  font-size: 14px
h3
  font-size: 10px
a
  text-decoration: none
  &:hover
    text-decoration: none
.bold
  font-weight: bold
  margin-right: 5px
//sixBlock
#sixBlock
  margin-top: $block-margin-top
  .container
    @include blockStyle
    a
      position: relative
      img
        z-index: 0
        max-width: 90%
        min-width: 90%
        border: 5px solid white
        border-radius: 10px
        box-shadow: 0 0 7px #999
        transition-duration: 0.5s
      .filmTitle
        z-index: 0
        color: white
        border-bottom: 1px dashed white
        width: 50%
        display: inline-block
        transition-duration: 0.5s
        margin-top: 10px
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
#sixBlock a:hover > .filmTitle
  color: #ff0047 !important
  border-bottom: 1px dashed #ff0047 !important
  display: inline-block !important

#sixBlock a:hover > img
  border: 5px solid #ff0047 !important
a:hover > .hoverInfoTipR
  opacity: 1
#sixBlock a
  transition-duration: 0s
  overflow: hidden
  &:hover
    overflow: visible
.hoverInfoTipR
  bottom: 0
  top: 0
  margin: auto
  text-align: left
  padding: 10px 20px
  transition-duration: 0s
  opacity: 0
  position: absolute
  left: 95%
  background-color: rgba(0, 0, 0, 0.80)
  box-shadow: 0 0 18px #333
  border-radius: 10px
  width: 390px
  height: 200px
  z-index: 99
  h2, h3
    margin-top: 5px
    margin-bottom: 5px
    color: white
    display: block !important
  .arrL
    top: 45%
    position: absolute
    left: -25px
    z-index: 10
    border: 10px solid transparent
    border-right: 15px solid rgba(0, 0, 0, 0.80)
  button
    @include buttonPink(14px, 5px)
@media (max-width: 1200px)
  #sixBlock
    .hoverInfoTipR
      display: none
a:hover > .hoverInfoTipB
  opacity: 1
#sixBlock a
  overflow: hidden
  &:hover
    overflow: visible
.hoverInfoTipB
  bottom: -73%
  left: 0
  margin: auto
  text-align: left
  padding: 10px 20px
  transition-duration: 0.5s
  opacity: 0
  position: absolute
  background-color: rgba(0, 0, 0, 0.80)
  box-shadow: 0 0 18px #333
  border-radius: 10px
  width: 390px
  height: 190px
  z-index: 99
  h2, h3
    margin-top: 5px
    margin-bottom: 5px
    color: white
    display: block !important
  .arrB
    position: absolute
    left: 80px
    margin: auto
    top: -25px
    z-index: 10
    border: 10px solid transparent
    border-bottom: 20px solid rgba(0, 0, 0, 0.80)
  button
    @include buttonPink(14px, 5px)
@media (max-width: 1200px)
  #sixBlock
    .hoverInfoTipB
      display: none
a:hover > .hoverInfoTipL
  opacity: 1
#sixBlock a
  overflow: hidden
  &:hover
    overflow: visible
.hoverInfoTipL
  top: 0
  left: -200%
  margin: auto
  text-align: left
  padding: 10px 20px
  transition-duration: 0.5s
  opacity: 0
  position: absolute
  background-color: rgba(0, 0, 0, 0.80)
  box-shadow: 0 0 18px #333
  border-radius: 10px
  width: 390px
  height: 200px
  z-index: 99
  h2, h3
    margin-top: 5px
    margin-bottom: 5px
    color: white
    display: block !important
  .arrL
    position: absolute
    left: 100%
    margin: auto
    top: 45%
    z-index: 10
    border: 10px solid transparent
    border-left: 20px solid rgba(0, 0, 0, 0.80)
  button
    @include buttonPink(14px, 5px)
@media (max-width: 1200px)
  #sixBlock
    .hoverInfoTipL
      display: none
//sixBlock //


//threeBlock
.threeBlockFirst
  margin-top: 60px !important
#threeBlock
  margin-top: $block-margin-top
  .threeBlockTopArr, .threeBlockBottomArr
    h2
      display: inline-block
      border-bottom: dotted 1px #fff
      color: white
      transition-duration: 0.5s
      &:hover
        color: #ff0047
        border-bottom: solid 1px #ff0047
  .showAllFilms
    float: right
    padding: 10px 20px 0px 20px
    display: inline-block
    h2
      a
        color: white
        border-bottom: dotted 1px #fff
        transition-duration: 0.5s
        &:hover
          color: #ff0047
          border-bottom: solid 1px #ff0047

  .container

    @include blockStyle
    hr
      width: 100%
      opacity: 0.5
      display: inline-block
      margin: 20px 0 10px 0
    .newFilm
      .text
        margin-top: 10px
        color: white
      .title
        color: $color-pink
        display: inline-block
        border-bottom: 1px dashed $color-pink
        margin-bottom: 10px
        transition-duration: 0.5s
      .imgBlock
        position: relative
        img
          box-shadow: 0 0 7px #999
          max-width: 100%
          border: 5px solid white
          border-radius: 10px
          transition-duration: 0.5s
        .hoverBlock
          background: black
          width: 100%
          height: 100%
          display: block
          position: absolute
          top: 0
          left: 0
          opacity: 0
          transition-duration: 0.5s
          border: 0
          border-radius: 10px !important
          .playIco
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            margin: auto
            height: 0
            width: 0
            border-top: 20px solid transparent
            border-left: 40px solid #333
            border-bottom: 20px solid transparent
.newFilm:hover > .imgBlock .hoverBlock
  opacity: 0.9 !important
.newFilm:hover > .title
  color: white !important
  border-bottom: 1px dashed white !important
.newFilm:hover > .imgBlock img
  border: 5px solid $color-pink !important
  box-shadow: 0 0 0 !important
@media (max-width: 750px)
  #threeBlock
    .newFilm
      text-align: center
    hr
      display: none !important
//threeBlock //

//footer
footer
  margin-top: $block-margin-top
  height: 47px
  background-color: rgba(0, 0, 0, 0.7)
  border-top: solid 1px #666
  color: #fff
  h2
    line-height: 0.5
    .counter
      width: 100%
      height: 20px
      background: red
      margin: 0
      padding: 0
@media (max-width: 750px)
  footer
    *
      text-align: center !important

//footer //